<%- include("partials/header") %>
<section class="container-fluid mt-5 px-0">
    <div class="row align-items-center">
        <div class="col-lg-6">
			<img class="img-fluid" src="/imgs/Apology_tag-512.png" >
        </div>
        <div class="col-lg-6">
            <p>Please check back later. </p>
        </div>
    </div>
</section>
<%- include("partials/footer") %>