<%- include("partials/header") %>

<div id="container">
	<h1>To-Do List <i class="fa fa-plus"></i></h1>
	<input type="text" placeholder="Add New Todo">

	<ul>
		<li><span><i class="fa fa-trash"></i></span> mama i love you</li>
		<li><span><i class="fa fa-trash"></i></span> baba i love you</li>
		<li><span><i class="fa fa-trash"></i></span> xing ke xin zhen bang</li>
	</ul>
</div>

<script type="text/javascript" src="/public/js/todos.js"></script>
<%- include("partials/footer") %>
