<%- include("partials/header") %>
<a >This is a Demo of WhereToStudy</a>
<%  Spaces.forEach(function(Spaces){ %>
    <div>
        <div class="row row-col-3">
            <div class="col"></div>
            <div class="col">
                <h4><%= Spaces.name %></h4>
            <img src="<%=Spaces.image %>" class="img-fluid">
            </div>
            <div class="col"></div>
        </div>
    </div>
<% });%>

<%- include("partials/footer") %>