body {
    background: #f0f0c9;
    font-family: "Nunito", sans-serif
}
#mainNavBar {
    font-size: 1.5rem;
    font-weight: 100;    
}
#mainNavBar .navbar-brand{
    color: #6e0e0a;
    font-weight: 300;
    font-size: 1.5rem;
}
#mainNavBar .nav-link{
    color:white;
}
#mainNavBar .nav-link:hover{
    color: #6e0e0a;
}

.navbar.scrolled {
    background: #91917a;
}

.avatar{
    /* vertical-align: middle; */
    /* width: 500px; */
    /* height: 500px; */
    border-radius: 50%;
}
.bg-cover{
    width: 100%;
    height: 180px;
    background: url(https://images.unsplash.com/photo-1508317469940-e3de49ba902e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) no-repeat top left;
    background-size: cover;
}
/* .card-img-top {
    background: url("/imgs/pwShow1.png");
    max-height: 100px;
    height: 100px;
    max-width: 100%;
    margin:auto;
    background-size:200px 400px ;
    background-position: 0px 40%;
    position:relative;
} */