<form action="/WhereToStudyDEMO/studyspaces" method="POST">
<input type="text" name="name" placeholder="name">
<input type="text" name="image" placeholder="photo url">
<button>Submit!</button>
</form>